#products {
  width: 100%;
  border: 5px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#products > div {
  width: 35%;
  height: 150px;
  border: 5px solid black;
}
#products > div > img {
  width: 100%;
  height: 100%;
}